* {
    margin: 0px;
    padding: 0px;
    font-family: "poppins";
}
.po {
    width: 50px;
    height: 50px;
}
a {
    outline: none;
    text-decoration: none;
    color: aqua;
}
li {
    margin-right: 30px;
}
.container {
    max-width: 1220px;
    margin: 0 auto;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul {
    list-style: none;
    display: flex;
}
.container {
    max-width: 1220px;
    margin: 0 auto;
}
.ki {
    display: flex;
    align-items: center;
}
.cardone {
    width: 310px;
    height: 300px;
}
.nu {
    margin-bottom: 20px;
}
.kd {
    margin-top: 20px;
    background-color: blue;
    color: white;
    width: 170px;
    height: 20px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}
.cardtwo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}
h2 {
    margin: 0 auto;
    text-align: center;
    margin-top: 40px;
}
.ju {
    text-align: center;
    padding-top: 40px;
    width: 400px;
    margin: 0 auto;
}
.hy {
    width: 200px;
    height: 300px;
    color: ;
}
.gt {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
}
.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0px;
}
.fa-solid{
    font-size: 60px;
}
.fa-regular{
    font-size: 60px;
}
i:hover{
    background-color: black;
    color: brown;
    cursor: pointer;
}
.kd:hover{
    background-color:black;
    cursor: pointer;
}
.pone{
    margin:0 auto;
    border: 1px blue solid;
    padding: 10px 30px 10px 30px;
    border-radius: 25px;
    width: 91px;
}
.h2one{
    margin:0 auto;
    margin-top: 40px;
}
.imgone{
    width: 300px;
    height: 220px;
    border-radius: 10px 10px 0px 0px ;
}
.divone{
    width: 300px;
    height: 420px;
    border-radius: 10px 10px 0px 0px ;
    margin-top: 40px;
    margin-bottom: 40px;
}
.checkin{
    color: aqua;
    border: 1px aqua solid;
    border-radius: 20px;
    padding: 15px;
    width: 70px;
    text-align: center;
    margin:0 auto;
    margin-top: 10px;
}
.divtwo{
    display: flex;
    justify-content: space-between;
    max-width: 1220px;
    margin: 0 auto;
}
.header{
    background-color: aquamarine;
}
.lione{
    color: white;
}
.kiyt{
    display: flex;
    align-items: center; 
    padding: 40px;
}
.divthree{
    display:column ;
    margin-right: 200px;
}
.pilus{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right:90px ;
    font-size: 30px;
}
.fa-instagram{
    margin-right: 20px;
}
.divsix{
    max-width: 1220px;
    margin:0 auto;
}
.divfive{
    margin-right: 100px;
}
.otadiv{
    background-color: aquamarine;
}